<div ng-controller="kubInputGUIControllerI4 as vm" class="simple-widget">
<style>

#plateBg {
    border-radius: 5px;
    background: {{"#C0C0C0"}};
    padding: 20px;
    width: 265px;
    height: 134px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#activeColor {
    border-radius: 20px;
    background: {{vm.buttonBG}};
    padding: 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 115px;
    left: 388px;
}

}
</style>
    <div class="panel-content">
     <p id="activeColor"></p>


<!-------- Plate 1 upper half--------------------------------------------------------------------------------------------------->

	
      <!--- <div class="plate 1 upper half" <p id="plateBg" style="position: absolute;top:0px; left:0px"></p>> -- >
		<!---<div style="position: absolute; top:5px; left:5px"> -->
		
			<button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 0px"
		                ng-click="vm.saveNumber('Left',3,0)" id="button41" value = button41;>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 65px"
		                ng-click="vm.saveNumber('Left',3,1)" id="button42" value = "button42";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px;left: 130px"
		                ng-click="vm.saveNumber('Left',3,2)" id="button43" value = "button43";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px;left: 195px"
		                ng-click="vm.saveNumber('Left',3,3)" id="button44" value = "button44";>
		        </button>
		        <br>    
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 0px"
		                ng-click="vm.saveNumber('Left',2,0)" id="button31" value = "button31";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 65px"
		                ng-click="vm.saveNumber('Left',2,1)" id="button32" value = "button32";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 130px"
		                ng-click="vm.saveNumber('Left',2,2)" id="button33" value = "button33";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 195px"
		                ng-click="vm.saveNumber('Left',2,3)" id="button34" value = "button34";>
		        </button>
		<!---</div> -->
	<!---</div>-->
<!----------------------------------------------------------------------------------------------------------------------------->
<br>


<!-------- Plate 1 lower half--------------------------------------------------------------------------------------------------->

      <!---  <div class="plate 1 lower half" <p id="plateBg" style="position: absolute;top:135px; left:0px"></p>>  -->
	<!---	<div style="position: absolute; top:5px; left:5px">-->
	
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 0px"
		                ng-click="vm.saveNumber('Left',1,0)" id="button21" value = "button21";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 65px"
		                ng-click="vm.saveNumber('Left',1,1)" id="button22" value = "button22";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 130px"
		                ng-click="vm.saveNumber('Left',1,2)" id="button23" value = "button23";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 195px"
		                ng-click="vm.saveNumber('Left',1,3)" id="button24" value = "button24";>
		        </button>


		        <br>
                       <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 0px"
                                ng-click="vm.saveNumber(0,0)" id="button11" value = "button11";>
                       </button>
                       <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 65px"
                                ng-click="vm.saveNumber(0,1)" id="button12" value = "button12";>    elem.style.color = newColor;
                       </button>
                       <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 130px"
                                ng-click="vm.saveNumber(0,2)" id="button13" value = "button13";>
                       </button>
                       <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 195px"
                                ng-click="vm.saveNumber(0,3)" id="button14" value = "button14";>
                       </button>
		<!---</div>-->
	<!---</div>-->
<!----------------------------------------------------------------------------------------------------------------------------->
<br>


<!-------- Middle--------------------------------------------------------------------------------------------------->	
      <!---  <div class="Middle block" <p id="plateBg" style="position: absolute;top:202px; left:270px; height: 67px"></p>>   --->
	<!---	<div style="position: absolute; top:3px; left:5px"> -->
	
		    <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 0px"
                            ng-click="vm.saveNumber("Middle",0,0)" id="button311" value = "button311";>
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 65px"
                            ng-click="vm.saveNumber("Middle",0,1)" id="button312" value = "button312";>
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 130px"
                            ng-click="vm.saveNumber("Middle",0,2)" id="button313" value = "button313";>
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 195px"
                            ng-click="vm.saveNumber("Middle",0,3)" id="button314" value = "button314";>
                    </button>
	<!---	</div> -->
	<!---</div>-->
<!----------------------------------------------------------------------------------------------------------------------------->

<br>


<!-------- Plate 2 upper half--------------------------------------------------------------------------------------------------->
                   
        <!---<div class="Plate 2 upper half" <p id="plateBg" style="position: absolute;top:0px; left:540px; height: 134px"></p>>   ->
	<!---	<div style="position: absolute; top:5px; left:5px"> ->
		
			<button type="button" class="btn btn-4x btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 0px"
		                ng-click="vm.saveNumber("Right",3,0)" id="button241" value = button241;>
		            <!--<i class="fa fa-4x fa-square" style= "color: rgb(0,128,0)"></i>-->
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 65px"
		                ng-click="vm.saveNumber("Right",3,1)" id="button242" value = "button242";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 130px"
		                ng-click="vm.saveNumber("Right",3,2)" id="button243" value = "button243";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 195px"
		                ng-click="vm.saveNumber("Right",3,3)" id="button244" value = "button244";>
		        </button>
		        <br>      
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 0px"
		                ng-click="vm.saveNumber("Right",2,0)" id="button231" value = "button231";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 65px"
		                ng-click="vm.saveNumber("Right",2,1)" id="button232" value = "button232";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 130px"
		                ng-click="vm.saveNumber("Right",2,2)" id="button233" value = "button233";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 195px"
		                ng-click="vm.saveNumber("Right",2,3)" id="button234" value = "button234";>
		        </button>
		<!---</div>->
	<!---</div>	->
<!----------------------------------------------------------------------------------------------------------------------------->
		<br>

<!-------- Plate 2 lower half--------------------------------------------------------------------------------------------------->
	
	
        <!---<div class="Plate 2 lower half" <p id="plateBg" style="position: absolute;top:135px; left:540px; height: 134px"></p>>  -->
		<!---<div style="position: absolute; top:5px; left:5px">   -->         
	    
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 0px"
		                ng-click="vm.saveNumber("Right",1,0)" id="button221" value = "button221";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 65px"
		                ng-click="vm.saveNumber("Right",1,1)" id="button222" value = "button222";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 130px"
		                ng-click="vm.saveNumber("Right",1,2)" id="button223" value = "button223";>
		        </button>
		        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 0px; left: 195px"
		                ng-click="vm.saveNumber("Right",1,3)" id="button224" value = "button224";>
		        </button>

		        <br>
                        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 0px"
                                ng-click="vm.saveNumber("Right",0,0)" id="button211" value = "button211";>
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 65px"
                                ng-click="vm.saveNumber("Right",0,1)" id="button212" value = "button212";>
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 130px"
                                ng-click="vm.saveNumber("Right",0,2)" id="button213" value = "button213";>
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255);border-radius: 5px; position: absolute; top: 65px; left: 195px"
                                ng-click="vm.saveNumber("Right",0,3)" id="button214" value = "button214";>
                        </button>
		<!---</div>--->
	<!---</div>->	
<!----------------------------------------------------------------------------------------------------------------------------->               

		<!----Buttons------------->
                <br>
                <button type="button" class="btn btn-sm btn-primary" style="width:125px;height:60px;background-color:rgb(255,255,255); position: absolute; top: 300px; left: 275px"
                        ng-click="vm.tryTheTower(1)" id="buttonBuild" value = "buttonBuild";>
                    <h1 class="text-center">Build</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:125px;height:60px;background-color:rgb(255,255,255); position: absolute; top: 300px; left: 405px"
                        ng-click="vm.reset()" id="buttonReset" value = "buttonReset";>
                    <h1 class="text-center">Reset</h1>
                </button>
                <br>
                <button type="button" class="btn btn-sm btn-primary" style="width:125px;height:60px;background-color:rgb(255,255,255); position: absolute; top: 365px; left: 275px"
                        ng-click="vm.randomTower()" id="buttonRandom" value = "buttonRandom";>
                    <h1 class="text-center">Random</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:125px;height:60px;background-color:rgb(255,255,255); position: absolute; top: 365px; left: 405px"
                        ng-click="vm.preDefined(3)" id="buttonPreDefined1" value = "buttonPreDefined1";>
                    <h1 class="text-center">PreDef</h1>
                </button>

                <button type="button" class="btn btn-sm btn-primary" style="width:40px;height:40px;background-color:#ffff66;border-radius: 5px; position: absolute; top: 70px; left: 383px"
                        ng-click="vm.setActiveColor(1)" id="buttonYellow" value = "buttonYellow";>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:40px;height:40px;background-color:#5cd65c;border-radius: 5px; position: absolute; top: 110px; left: 343px"
                        ng-click="vm.setActiveColor(2)" id="buttonGreen" value = "buttonGreen";>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:40px;height:40px;background-color:#0066ff;border-radius: 5px; position: absolute; top: 110px; left: 423px"
                        ng-click="vm.setActiveColor(4)" id="buttonBlue" value = "buttonBlue";>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:40px;height:40px;background-color:#ff3333;border-radius: 5px; position: absolute; top: 150px; left: 383px"
                        ng-click="vm.setActiveColor(3)" id="buttonRed" value = "buttonRed";>
                </button>
            <!--</div>-->
	</div>
    </div>
</div>


